:root {
  --bg-color: #020617;
  --text-color: #eefff5;

  --color-primary: #1bad53;

  --text-primary: rgba(from var(--text-color) r g b / 0.9);
  --text-secondary: rgba(from var(--text-color) r g b / 0.75);

  --max-width: 800px;
}

body {
  margin: 0;
}

.my-card-bg {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
}
